* {
  font-family:$font;

.leaf{
  margin-top:0;
 @include logo-leaf(); 
}
}

.container{
  width: 100%;
  max-width: initial;
}

//seccion uno
.seccion_uno {  
  background-image: url('../img/fondo-bienvenida.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.logo-lovers{
  margin-left: 140px;
  margin-top: 14px;
  width: 65%;
}
.section_uno .leaf{
  @include logo-leaf(); 
}


//seccion_dos

.seccion_dos iframe{
  width:100%; 
  min-height: 100vh;
}


//seccion tres
.seccion_tres{
  background-image: url('../img/fondo-about.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;  
  margin-top: -25px;
}

.seccion_tres{
   h1{
    @include titulos-grandes() 
  }

  p{
  color: $color_text_titulo;
  font-size: 23px;
  text-align: left;
  margin-left: 388px;
  }
}
.section_tres .leaf{
  
 @include logo-leaf(); 
}
  
//seccion cuatro
.seccion_cuatro{
  height:50vh;
  margin-top:3em;
}
.seccion_cuatro h3{
  color: #ED9A9D;
  font-size: 40px;
  text-align: center;
  font-weight:bold;
  padding-left: 20px;
}
.seccion_cuatro p{
  font-size: 15px;
  text-align: center;
  margin-left: 2em;
}

  //seccion cinco
.seccion_cinco h4{
  font-size: 10px;
  font-size: bold;
  text-align:center;
}

.seccion_cinco .mujer h4{
  margin-top: 30px;
  margin-left: 20px;
}

.seccion_cinco .socks h4{
  margin-top: 30px;
  margin-left: 20px;
}

.seccion_cinco .cereal h4{
  margin-top: 30px;
  margin-left: 20px;
}

.seccion_cinco .nails h4{
  margin-top: 30px;
  margin-left: 20px;
}
.seccion_cinco .mujer{
  background-image: url('../img/min-video-1-2.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  margin:0!important;
  }
.seccion_cinco .socks{
  background-image: url('../img/min-video-3.jpg');
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  margin:0 !important;
}
.seccion_cinco .cereal{
  background-image: url('../img/min-video-5.jpg');
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  margin:0 !important;
  }

.seccion_cinco .nails{
  background-image: url('../img/min-video-6.jpg');
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  margin:0!important;
}

.seccion_cinco h4{
  color: $color_text_titulo;
  font-size: 20px;
}

//seccion seis

.seccion_seis{
  background-image: url('../img/disfruta (1).jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width:100%;
}
.seccion_seis h1{
  @include titulos-grandes() 
}

.section_seis .leaf{
  
 @include logo-leaf(); 
}

//seccion siete
.seccion_siete .icon1{
  background-color: #F0E7AE;
}
.seccion_siete .icon2{
  background-color: #8EC641;
}
.seccion_siete .icon3{
  background-color: #ED9A9D;
}

//seccion ocho
.seccion_ocho{
  background-image: url('../img/parallax-4.jpg');
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
}

.section_ocho .leaf{
  
 @include logo-leaf();
}

h1{
  @include titulos-grandes()
}

//seccion nueve
.seccion_nueve{

}

.seccion_nueve .leaf{
 
 @include logo-leaf();
 
}

//seccion diez
.seccion_diez .textos-diez{
  margin-left: 20px;

}
.seccion_diez .leaf{
  
 @include logo-leaf();
}



//footer
.footer{
  background-color: #3B3B3B;
  height: 4em;
  }

  .footer .container p{
    color: #5F6058;
    margin-left: 20px;
  }

.footer .container .leaf{
 @include logo-leaf();
 
}
