* {
  font-family:$font;

}

.container{
  width: 100%;
  max-width: initial;
}

//seccion uno
.seccion_uno {  
  background-image: url('../img/fondo-bienvenida.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.logo-lovers{
  margin-left: 140px;
  margin-top: 14px;
  width: 65%;
}
.leaf{
  margin-top:0;
 @include logo-leaf();
 
}

//seccion_dos

/*iframe{
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  position: fixed;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
} */


//seccion tres
.seccion_tres{
  background-image: url('../img/fondo-about.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.seccion_tres h1 p{
  color: $color_text_titulo;
}

//seccion cuatro
.seccion_cuatro{
  height:50vh;
  margin-top:3em;
}
.seccion_cuatro h3{
  color: #ED9A9D;
  font-size: 40px;
  text-align: center;
  font-weight:bold;
  padding-left: 20px;
}
.seccion_cuatro p{
  font-size: 15px;
  text-align: center;
  margin-left: 2em;
}

  //seccion cinco
.seccion_cinco .mujer{
  background-image: url('../img/min-video-1-2.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  }
.seccion_cinco .socks{
  background-image: url('../img/min-video-3.jpg');
  background-size: no-repeat;
  height: 50vh;
  width: 100%;
}
.seccion_cinco .cereal{
  background-image: url('../img/min-video-5.jpg');
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  }

.seccion_cinco .nails{
  background-image: url('../img/min-video-6.jpg');
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}

.seccion_cinco h4{
  color: $color_text_titulo;
  font-size: 20px;
}

.seccion_seis{
  background-image: url('../img/disfruta (1).jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width:100%;
}
.seccion_seis h1{
  color: $color_text_titulo;
}

//seccion siete
.seccion_siete .icon1{
  background-color: #F0E7AE;
}
.seccion_siete .icon2{
  background-color: #8EC641;
}
.seccion_siete .icon3{
  background-color: #ED9A9D;
}

//seccion ocho
.seccion_ocho{
  background-image: url('../img/parallax-4.jpg');
  background-repeat: no-repeat;
  width:100%;
  height: 100vh;
}

